<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p> 
    У заданому рядку потрібно перевірити, чи один символ йде відразу за іншим. Якщо так - повернути <b class="code">{% if is_js %}true{% else %}True{% endif %}</b>, інакше - <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>.
</p>
<p>
    Якщо один із символів відсутній у слові - твоя функція повинна повертати <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>. Якщо шукані символи однакові - твоя функція також повинна повертати {% if is_js %}<b class="code">false</b>{% else %}<b class="code">False</b>{% endif %}.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Три аргументи. Перший - це заданий рядок, другий - символ, який повинен йти першим, а третій - символ, який повинен йти після першого.
</p>
<p>
    <strong>Вихідні дані:</strong> Логічне (булеве) значення.
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Передумови:</strong>
    <i>всі символи в нижньому регістрі і не повторюються.</i>
</p>
