<!-- Describe task in general -->
<p> 
    Dans une chaîne de caractères donnée, vous devez vérifier si un symbole se trouve à la suite d'un autre. Si c'est le cas, renvoyez <b class="code">{% if is_js %}true{% else %}True{% endif %}</b>, sinon <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>. 
</p>
<p>
    Si l'un des symboles ne se trouve pas dans le mot donné, votre fonction doit renvoyer <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>. Si deux symboles recherchés sont identiques, votre fonction doit renvoyer <b class="code">{% if is_js %}false{% else %}False{% endif %}</b>.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Trois arguments. Le premier est une <span>chaîne de caractères</span> donnée <span>(string)</span>, le deuxième est un symbole qui doit être placé en premier et le troisième est un symbole qui doit être placé après le premier.
</p>
<p>
   <strong>Résultat:</strong> A {% if is_js %}<span>booléen</span> <span>(boolean)</span>{% else %}<span>booléen</span> <span>(bool)</span>{% endif %}.
</p>

<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Exemples:</strong>
    </p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Conditions préalables:</strong>
    <i>tous les symboles sont en minuscules et uniques.</i>
</p>
